name: Publish on Deno Deploy

on:
  push:
    branches: [main]

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Clone repository
        uses: actions/checkout@v4

      - name: Install Deno
        uses: denoland/setup-deno@v2
        with:
          deno-version: v2.x

      - name: Build site
        run: deno task build
        working-directory: .

      - name: Deploy to Deno Deploy
        uses: denoland/deployctl@v1
        with:
          project: rix1dotdev
          import-map: "deno.json"
          entrypoint: "serve.ts"
